<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .widget-header.widget-header-large {
        background: white !important;
      }
    </style>
    <link rel="stylesheet" href="./assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/dist/css/ace.min.css">    
  </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
